db.sqlite3
MyBooksWeb.pyproj
MyBooksWeb.sln
.vs/
env/
secrets/
config/__pycache__/
books/__pycache__/
books/migrations/00*.py
books/migrations/__pycache__/
books/views/__pycache__/
media/profile_images/