<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link link-secondary px-2">ホーム</a></li>
                {% if user.is_authenticated %}
                <li><a href="/mylibrary/" class="nav-link link-body-emphasis px-2">マイライブラリ</a></li>
                <li><a href="/profile/" class="nav-link link-body-emphasis px-2">アカウント情報</a></li>

                {% else %}

                <li><a href="/login/" class="nav-link link-body-emphasis px-2">ログイン</a></li>
                <li><a href="/signup/" class="nav-link link-body-emphasis px-2">アカウント作成</a></li>

                {% endif %}
            </ul>
            <form method="GET" class="col-12 col-lg-4 mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" name="q" class="form-control" placeholder="ここで本を検索してください">
            </form>

            {% if user.is_authenticated %}
            <div class="dropdown text-end">


                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.profile.profile_image %}
                    <img src="{{ user.profile.profile_image.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                    {% else %}
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="#000000"><defs><style>
                                                                                                                                                                                     .cls-6374f8d9b67f094e4896c626-1 {
                                                                                                                                                                                         fill: none;
                                                                                                                                                                                         stroke: currentColor;
                                                                                                                                                                                         stroke-miterlimit: 10;
                                                                                                                                                                                     }
                    </style></defs><circle class="cls-6374f8d9b67f094e4896c626-1" cx="9.61" cy="5.8" r="4.3"></circle><path class="cls-6374f8d9b67f094e4896c626-1" d="M1.5,19.64l.7-3.47a7.56,7.56,0,0,1,7.41-6.08,7.48,7.48,0,0,1,4.6,1.57"></path><circle class="cls-6374f8d9b67f094e4896c626-1" cx="16.77" cy="16.77" r="5.73"></circle><polyline class="cls-6374f8d9b67f094e4896c626-1" points="19.64 14.86 16.3 18.2 14.39 16.3"></polyline></svg>
                    {% endif %}
                </a>
                <ul class="dropdown-menu text-small">

                    <li><a class="dropdown-item" href="/mylibrary/">マイライブラリ</a></li>
                    <li><a class="dropdown-item" href="/profile/">アカウント情報</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form action="{% url 'logout' %}" method="POST" name="logout">
                            {% csrf_token %}
                            <input type="submit" class="dropdown-item" value="ログアウト" />
                        </form>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</header>